.inputNumber {
  width: 60px;
}

.selectAuto {
  width: 400px !important; 
}

.selectPopup :global(.ant-select-item-option-content) {
  white-space: normal;      
  word-break: break-word;    
  line-height: 1.3;
}

.selectPopup :global(.ant-select-item-option) {
  align-items: flex-start;
}


.runAutoLabel {
  min-width: 70px;
  white-space: nowrap;
  margin-right: 4px;
}

@media only screen and (max-width: 1200px) {
  .selectAuto { width: 180px !important; }
}
